@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Playfair+Display:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0B0A07;
    font-family: Montserrat;
}

.top-header{
    position: sticky;
    top: 0px;
    max-width: 100vw;    
    height: auto;
    background-color: #EBEBEB;
    text-align: center;
    overflow: hidden;
} .fa-user{
    color: #0B0A07;
    position: absolute;
    left: 25px;
    top: 25px;
    transform: scale(1.5);
    transition: all 1s;
} .fa-user:hover{
    transform: scale(1.6);
    cursor: pointer;
}.user-container-hidden{
    display: none;
}
 .user-container{
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    background-color: #877666;
    position: absolute;
    border-radius: 3px;
    padding: 3px;
    top: 10px;
    left: 60px;
    transition: all 1s;
} .user-container a, .user-container p{
    color: white;
    font-size: small;
} .user-container-nbg{
    background-color: #00000000;
}

.top-header img{ /* LOGO PERLA NEGRA */
    width: 80px;
}

.cta-hidden{
    display: none;
}

.cta{
    display: block;
    position: relative;
    margin: auto;
    padding: 13px 7px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #119DA4;
    width: 45px;
    height: 42px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #0B0A07;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #0B0A07;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #119DA4;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }



header{
    max-width: 100vw;
    height: auto;
    background-color: #119DA4;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
header ul{
    list-style: none;
    display: inline-flex;
    padding: 5px;
} header li {
    margin-left: 10px;
    margin-right: 10px;
    color:#EBEBEB;
    text-align: center;
} header a {
    color:#EBEBEB;
    text-decoration: none;
} .li-productos{
    display: flex;
    flex-flow: column;
} .category-list{
    display: none;
    flex-flow: column;
    background-color: #119DA4;
    position: absolute;
    margin-top: 20px;
    margin-left: -5px;
    min-width: 100px;

} .category-item:hover{
    cursor:pointer;
    background-color: #1169a441;
} .li-productos:hover > .category-list{
    display: flex;
}


.main-article{
    height: 70vh;
    background-image: url("https://th.bing.com/th/id/R.ee3618517ca91c47c4df9fc399a41742?rik=zC5UoZ7aeZ0zcg&riu=http%3a%2f%2ffiles.thecobbs.com%2fa48_lot42_4-max.jpg&ehk=BvSeGatJPucLc1f2foBF3Npr%2bjnyRaVXnJ7j%2bBmFc9I%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}.article-container{
    background-color: #0000003f;
    height: 200px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
} 
.main-article h2{
    font-family: Playfair Display;
    color: #EBEBEB;
} 

.text-area{
    color:#EBEBEB;
}

h1{
    font-family: Playfair Display ;
    text-align: center;
}


.product-container{
    display: flex;
}

.product{
    height: 300px;
    width: 15vw;
    background-color: #877666;
}

.product img{
    width: 70%;
    height: auto;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  } .login-hidden{
    display: none;
  }
  
  .login-content {
    width: 80vw;
    height: 70vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out 300ms;
  }

  
  
  
  